@media screen and (max-width: 1024px)
{
    body 
    {
        margin: 0px;
       
    }
   
    nav
    {
        align-items: baseline;
        margin-top: 20px;
    }
    nav>a
    {
        margin-top: 11px;
    }
    nav ul li a 
    {
        width: 100%;
        display: inline-block;
        padding-left: 0px;
        padding-right: 0px;
        border-bottom-style: solid;
        border-color: #0065FC;
        border-width: 3px;
        padding-bottom: 20px;
        color: #0065FC;
        font-weight: bold;
        
    }
    nav ul li:first-child a
    {
        border-top: none;
        border-width: 3px;
    }
    nav ul li:last-child a
    {
        border-color: #DEEBFF;
    }
    nav>ul
    {
        display: block;
        float: initial;
        margin-top: 25px;
        padding-left: 0px;
    }
    nav ul li
    {
        width: 49%;
        text-align: center;
    }
    #controles
    {
        margin-left: 10px;
    }
    .footer
    {
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 50px;
        padding-right: 0px;
    }
    #a-propos
    {
        margin-left: 25px;
        margin-right: auto;
    }
    #nos-hebergements
    {
        margin-left: 25px;
        margin-right: 14px;
        padding-left: 0px;
        
    }
    #assistance
    {
        margin-right: 14px;
        margin-left: 25px;
        padding-left: 0px;
    }
    footer
    {
        display: block;
        
    }
    .conteneur_activités
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }
   
    
    .binome 
    {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-around;
        width: 100%;
        margin-right: 0px;
    }
    .binome .carte-activite
    {
        margin-right: 0px;
        margin-bottom: 0px;
        
    }
    #Activités
    {
    
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .carte-activite 
    {
        width: 100%;
        height: 250px;
        margin-bottom: 30px;
        margin-left: 0px;
        margin-right: 0px;
        border-top: 1px;
        border-left: 1px;
        border-right: 1px;
    }
    .binome .carte-activite
    {
        height: 250px;
    }
    #frioules
    {
        height: 200px;
    }
    #parc-natio
    {
        height: 200px;
    }
    #garde
    {
        height: 200px;
    }
    #longchamp
    {
        height: 200px;
    }
    section 
    {
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column-reverse;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
    #hebergements
    {
        margin-top: 30px;
        background-color: white;
    }
    #hebergements h2
    {
        padding-left: 30px;
        margin-top: 50px;
    }
    aside 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 50px;
        width: 100%;
    }
    #populaire
     {
        background-color: #F2F2F2;
        border-radius: 20px;
        margin-left: 0px;
    }
    .conteneur_photos 
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 30px;
        padding-right: 30px;
        align-content: space-between;
    }
    #port
    {
        height: 200px;
    }
    #pomegues
    {
        height: 200px;
    }

    
    .conteneur_filtres 
        {
            display: flex;
            flex-direction: column;
        }
    .conteneur_filtres ul a
    {
        margin-left: 0px;
    }
    .conteneur_filtres ul 
        {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 0px;
        }
    #row
    {
       /* display: flex;*/
    }
    .conteneur_photos> div
    {
        width: 100%;
        border: 3px solid #F2F2F2;
        border-top: 1px;
        border-right: 1px;
        border-left: 1px;
    }

        
}
