@font-face
 {
    font-family : 'Raleway';
    src: url('Raleway-Regular.ttf') format('truetype');
}
body
{
    font-family: 'Raleway';
}
nav
{

    display: flex;
    justify-content: space-between;
    align-items: center; 
}



.conteneur_filtres a
{
    border: 3px #F2F2F2 solid;
    background-color: white;
    border-radius: 100px;
    border-width: 1px;
    border-width: thin;
    font-weight: bold;

}
.conteneur_filtres ul a span
{
    padding: 8px;
    display: inline-block;
}
p
{
    display: inline;
}
nav ul a:first-child
{
    border-top-style: solid; 
    border-color:#0065FC;
    border-width: 1px;
    padding-top: 20px;
    color: #0065FC;
    
} 
nav ul a:last-child
{
    color:#0065FC ;
    font-weight: bold;
}
nav ul a
{
    padding-left: 15px;
    padding-right: 15px;
}
nav ul a:hover
{
    color: #0065FC;
}
a:visited
{
    color: initial;
}
a
{
    text-decoration: none;
}
#Rechercher
{
    border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-color: #0065FC;
    border: 0px;
    padding: 1px 2px;
    padding-left: 3px;
    padding-right: 6px;
}
#Localisation
{
    font-weight: bold;
    border-color: white;
    border: 0px;
    padding: 0px;
}
form i
{
    border-radius: 5px 0px 0px 5px;
    color: black;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
    padding: 5px;
}
form
{
    display: flex;
    justify-content: flex-start;
}
section
{
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
}
aside
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.conteneur
{
    background-color: white;
    width: 20%;
    border-radius: 5px;
}
.conteneur img
{
    width: 70%;
}
.conteneur_filtres i
{
    color: #0065FC;
    padding: 8px;
    border-color: #DEEBFF;
    border: 2px ;
    border-radius: 30px;
    border-width: 1px;
    background-color: #DEEBFF
}
.conteneur_filtres h4
{
    padding-top: 10px;
}
.conteneur_infos i
{
    background-color: #DEEBFF;
    color: #0065FC;
}
.conteneur_filtres 
{
    display: flex;
}
.conteneur_filtres ul
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.conteneur_filtres ul a
{
    display: inline-block;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    
}
.conteneur_photos p
{
    color: black;
}

.conteneur_photos div
{
    border: 2px white solid;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    height: 190px;
    width: 190px;
    border-width: 4px;
}
.conteneur_photos
{
    width: 750px;
    height: 400px;
    background-color:#F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
    align-content: space-between;

}
.conteneur_photos h4
{
    margin-top: 0px;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
}
.conteneur_photos div 
{
    text-decoration: none;
}
.conteneur_photos h3
{
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
}
.conteneur_photos div img
{
    width: 190px;
    height: 100px;
    border-radius: 20px 20px 0px 0px;
    border-color: white;
    border-width: thick;
}
h3
{
    font-weight: bold;
}
.conteneur_accroche p
{
    color: grey;
    font-weight: bold;
    font-size: small;
}
.conteneur_infos p
{
    color: grey;
    font-size: small;
    font-weight: bold;
}
.conteneur_infos i
{
    background-color: white;
    border-color: grey;
    color: blue;
}
.conteneur_1
{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: flex-start;
}
.conteneur_2
{
    display: flex;
    flex-direction: row;
}
.conteneur_3
{
    display: flex;
    flex-direction: row;
}
.conteneur_populaire
{
    background-color: #F2F2F2;
    width: 350px;
    height: 540px;
    margin-left: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conteneur_populaire a
{
    height: 120px;
    width: 300px;
    border: 2px white solid;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}
.conteneur_populaire a img
{
    width: 120px;
    height: 120px;
    border-radius: 20px 0px 0px 20px;
}
.conteneur_populaire h4
{
    font-size: 15px;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: row;
}