@font-face
 {
    font-family : 'Raleway';
    src: url('Raleway-Medium.ttf') format('truetype');
}
body
{
    font-family: 'Raleway';
}
.conteneur_filtres a
{
    border: 3px #F2F2F2 solid;
    background-color: white;
    border-radius: 100px;
    border-width: 1px;
    border-width: thin;
    font-weight: bold;
    margin-left: 20px;

}
.conteneur_filtres ul a span
{
    padding: 8px;
    display: inline-block;
}
p
{
    display: inline;
}
ul
{
    list-style-type: none;

}
ul li
{
    display: inline-block;
}
nav ul li:first-child a
{
    border-top-style: solid; 
    border-color:#0065FC;
    border-width: 1px;
    padding-top: 20px;
    color: #0065FC;
    font-weight: bold;
} 

nav ul a
{
    padding-left: 15px;
    padding-right: 15px;
}
nav ul a:visited
{
    
    
}
.rating
{
    color: #0065FC;
    display: flex;
    flex-direction: row;
}
nav ul a:hover
{
    color: #0065FC;
}
a:visited
{
    color: initial;
}
a
{
    text-decoration: none;
    color: black;
}
#Rechercher
{
    border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-color: #0065FC;
    border: 0px;
    padding: 1px 2px;
    padding-left: 3px;
    padding-right: 6px;
}
#Localisation
{
    font-weight: bold;
    border-color: white;
    border: 0px;
    padding: 0px;
}
form i
{
    border-radius: 5px 0px 0px 5px;
    color: black;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
    padding: 5px;
}
form
{
    display: flex;
    justify-content: flex-start;
}
section
{
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}
aside
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.conteneur
{
    background-color: white;
    width: 20%;
    border-radius: 5px;
}
.conteneur img
{
    width: 70%;
}
.conteneur_filtres i
{
    color: #0065FC;
    padding: 8px;
    border-color: #DEEBFF;
    border: 2px ;
    border-radius: 30px;
    border-width: 1px;
    background-color: #DEEBFF
}
.conteneur_filtres h4
{
    padding-top: 10px;
}
.conteneur_infos
{
    padding-bottom: 40px;
}
.conteneur_infos i
{
    background-color: #DEEBFF;
    color: #0065FC;
}
.conteneur_filtres 
{
    display: flex;
}
.conteneur_filtres ul
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.conteneur_filtres ul a
{
    display: inline-block;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    
}
.conteneur_photos p
{
    color: black;
}
.conteneur_photos a
{
    width: 100%;
}
.conteneur_photos> div
{
    border: 2px white solid;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    width: 30%;
    border-width: 4px;
    text-decoration: none;
    margin-bottom: 30px;
}

.conteneur_photos
{
    
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
    align-content: space-between;

}

#hebergements
{
    background-color:#F2F2F2;
    border-radius: 20px;
    
}
#hebergements h2
{
    padding-left: 50px;
    font-weight: bolder;
}
#hebergements i
{
    background-color: #F2F2F2;
    border-color: #F2F2F2;
}
.conteneur_photos h4
{
    margin-top: 0px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.conteneur_photos h3
{
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
}
.conteneur_photos div img
{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    border-color: white;
    border-width: thick;
}
h3
{
    font-weight: bold;
}
.conteneur_accroche
{
    padding-bottom: 20px;
}
.conteneur_accroche p
{
    color: grey;
    font-weight: bold;
    font-size: small;
}
.conteneur_infos p
{
    color: grey;
    font-size: small;
    font-weight: bold;
}
.conteneur_infos i
{
    background-color: white;
    border-color: grey;
    color: blue;
}

#populaire
{
    background-color:#F2F2F2;
    border-radius: 20px;
    margin-left: 40px;
}
#icone
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#icone i
{
    margin-top: 30px;
    margin-right: 30px;
    font-weight: bold;
}
.conteneur_populaire
{
    background-color: #F2F2F2;
    
    height: 540px;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conteneur_populaire a
{
    height: 120px;
    width: 80%;
    border: 2px white solid;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border-color: white;
    border-width: thick;
    align-self: center;
    justify-content: inherit;
    margin-top: auto;
    margin-right: 8%;
    margin-left: 8%;
}
.conteneur_populaire a div
{
    width: 55%;
}
.conteneur_populaire a img
{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}
.conteneur_populaire h4
{
    font-size: 15px;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 0px;
}
#populaire h2
{
    padding-left: 50px;
}
.conteneur_populaire p
{
    display: flex;
    color: black;
    margin-bottom: 10px;
    margin-top: 0px;

}
#conteneur_logo img
{
    width: 80px;
    margin-left: 20px;
}
#conteneur_logo
{
    display: inline-block;
}

nav>a, nav>a:visited
{
    float: right;
    margin-right: 20px;
    margin-top: 16px;
    font-weight: bold;
    color: #0065FC;
}

nav>ul
{
    display: inline-block;
    float: right;
}
#coeur a
{
    padding-left: 20px;
}
.carte-activite a img
{
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0px 0px;
    
}

.carte-activite a
{
    border-radius: 20px;
    
}
.carte-activite
{
    border-radius: 20px;
    border: 3px solid #F2F2F2;
    margin-left: 10px;

    width: 25%;
    height: 500px;
    margin-right: 40px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;

}
.carte-activite p
{
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    height: 20%;
    padding-top: 10px;
    margin-top: 0px;
}

.conteneur_activités
{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-left: auto;
    margin-right: auto;
}
#Activités h2
{
    margin-left: 10px;
}
#Activités
{
    width: 100%;
}
.conteneur_populaire a img
{
    object-fit: cover;
}

.binome
{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 600px;
    justify-content: space-between;
    width: 25%;
    margin-right: 40px;
}



.binome .carte-activite
{
    height: 200px;
    width: 100%;
    margin-bottom: 75px;
    margin-right: 40px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
}

.footer
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 300px;
    margin-top: 50px;
    
}
#nos-hebergements
{
    padding-left: 150px;
}
#assistance
{
    padding-left: 150px;
}
#pomegues
{
    background-image: url("photos/fort-de-pomegues-small.jpg");
    width: 100%;
    height: 80%;
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}
#frioules
{
    background-image: url("photos/iles-du-frioules-small.jpg");
    width: 100%;
    height: 70%;
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}
#parc-natio
{
    background-image: url("photos/parc-national-des-calanques-small.jpg");
    width: 100%;
    height: 90%;
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}
#garde
{
    background-image: url("photos/notre-dame-de-la-garde-small.jpg");
    width: 100%;
    height: 75%;
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}
#longchamp
{
    background-image: url("photos/parc-longchamp-small.jpg");
    width: 100%;
    height: 80%;
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}
#port
{
    background-image: url("photos/vieux-port-small.jpg");
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}
.propos
{
    display: flex;
    flex-direction: column;
}
.hebergements
{
    display: flex;
    flex-direction: column;
}
.help
{
    display: flex;
    flex-direction: column;
}